.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  height: 100vh;
  position: relative;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

/* Media Query ketika dibuka di mobile */
@media (max-width: 576px) {
  .btn-github {
    width: 90%;
  }

  .navbar {
    background-color: black !important;
  }
}
